[package]
name = "spoke"
version = "0.1.0"
description = "GraphWiz-XR Scene Editor"
authors = ["GraphWiz-XR Contributors"]
license = "MPL-2.0"
repository = ""
edition = "2021"

[build-dependencies]
tauri-build = { version = "1.5.0", features = [] }

[dependencies]
tauri = { version = "1.5.4", features = ["shell-open"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
dirs = "5.0"

[features]
default = ["custom-protocol"]
custom-protocol = ["tauri/custom-protocol"]
